@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <a href="https://github.com/Alber-Ashraf" target="_blank">About</a>
        </div>

        <article class="main">
            @Body
        </article>
    </main>
</div>
